Dataset:
https://archive.ics.uci.edu/dataset/492/metro+interstate+traffic+volume

## Infering Relationships Between Traffic Volume and Weather, Temporal Data

In [13]:
# Package Imports
import pandas as pd
from ucimlrepo import fetch_ucirepo
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split

## Summary

## Introduction

## Methods

#### Data

#### Analysis

## Results & Discussion

In [21]:
# Data Import
metro_interstate_traffic_volume = fetch_ucirepo(id=492)

X = metro_interstate_traffic_volume.data.features
y = metro_interstate_traffic_volume.data.targets

# metadata
# print(metro_interstate_traffic_volume.metadata)

# variable information
# print(metro_interstate_traffic_volume.variables)

In [22]:
# Splitting data_time to time and weekday
X['date_time'] = pd.to_datetime(X['date_time'])

X['time'] = X['date_time'].dt.time

X['weekday'] = X['date_time'].dt.weekday < 5
X['weekday'] = X['weekday'].astype(int)

X = X.drop('date_time', axis = 1)

X

C:\Users\derri\AppData\Local\Temp\ipykernel_6940\1675130431.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['date_time'] = pd.to_datetime(X['date_time'])

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,time,weekday
0,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,09:00:00,1
1,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,10:00:00,1
2,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,11:00:00,1
3,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,12:00:00,1
4,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,13:00:00,1
...,...,...,...,...,...,...,...,...,...
48199,NaN,283.45,0.0,0.0,75,Clouds,broken clouds,19:00:00,0
48200,NaN,282.76,0.0,0.0,90,Clouds,overcast clouds,20:00:00,0
48201,NaN,282.73,0.0,0.0,90,Thunderstorm,proximity thunderstorm,21:00:00,0
48202,NaN,282.09,0.0,0.0,90,Clouds,overcast clouds,22:00:00,0
48203,NaN,282.12,0.0,0.0,90,Clouds,overcast clouds,23:00:00,0

In [18]:
# Train/Test Split
X_train, X_valid, y_train, y_valid = train_test_split(
    X, y, test_size=0.3, random_state=123
)

Consider separating `date_time` into time variable, as well as one classifying each observation as weekday/weekend-day

In [19]:
# Preprocessing
traffic_preprocessor = make_column_transformer(
    
)

ValueError: not enough values to unpack (expected 2, got 0)

## References